Repository mgamlem3/Energy-Dashboard, pull requests merged in 2019-05, with the labels that each got.

#157 Update packages
  package.json
  src/server/package.json
  src/server/yarn.lock
  yarn.lock
Labels: Backend, priority-high

#169 Energy Cost Updates
  src/components/ManagementDetails/management-details.jsx
  src/components/ManagementPage/management_page.jsx
  src/components/SignIn/sign_in.jsx
  src/server/Schemas/power_cost.js
  src/server/server.js
Labels: Backend, Management Page

#170 Add building square footage
  src/resources/building-square-footages.js
Labels: Data

#171 Clean Up Management Page Formatting
  src/components/ManagementDetails/management-details.jsx
Labels: Management Page

#173 Fix main graph data
  src/components/App/App.jsx
  src/components/ComparisonpageContent/comparisonpage-content.jsx
  src/components/Graphs/LineGraph/line-graph.jsx
  src/components/HomepageContent/homepage-content.jsx
  src/database functions/api_functions.js
  src/server/MainGraphDataReturn.js
  src/server/constants.js
  src/server/process_data.js
  src/server/server.js
Labels: Data, Graph, bug

#174 Finish implementing data into graphs
  src/components/ComparisonpageContent/comparisonpage-content.jsx
  src/components/DetailspageContent/detailspage-content.jsx
  src/components/DisplaypageContent/displaypage-content.jsx
  src/components/Graphs/LineGraph/line-graph.jsx
  src/components/Graphs/PieGraph/pie-graph.jsx
  src/components/HomepageContent/homepage-content.jsx
  src/components/datatypeList/datatypeList.jsx
  src/components/radioList/radioList.jsx
  src/database functions/api_functions.js
  src/resources/building-square-footages.js
  src/resources/common-text-resources.js
Labels: Backend, Building Comparison Page, Building Details Page, Data, Display Page, Graph, Home Page
